Name:fileexists
Description:Checks if a specified file exists.
Returntype:boolean
Maxparameters:1
Options: 
fileExist - Checks if given file exists, sends trigger if file does not exist
minSize - Checks size of given file. If file size is equal to or below minSize trigger is sent
maxSize - Checks size of given file. If file size is equal to or greater than maxSize trigger is sent
